{% extends "base.html.twig" %}

{% block titre %}Ajouter un étudiant{% endblock %}

{% block content %}
    <h1>Entrer les données de l'étudiant à ajouter </h1>
    {% if error != "" %}
        <h3 class="alert alert-info w-25">{{ error }}</h3>
    {%  endif %}
    <form class="w-50" method="post" action="">
        <div class="form-group m-5">
            <label>Nom : </label>
            <input class="form-control" type="text" required name="nom">
        </div>
        <div class="form-group m-5">
            <label>Prénom: </label>
            <input class="form-control" type="text" required name="prenom">
        </div>

        <div class="form-group m-5">
            <label>E-Mail : </label>
            <input class="form-control" type="email" name="email" required>
        </div>

        <div class="form-group m-5">
            <label>Login : </label>
            <input class="form-control" type="text" name="login" required>
        </div>

        <div class="form-group m-5">
            <label>Mot de passe : </label>
            <input class="form-control" type="password" name="password" required>
        </div>

        <div class="form-group m-5">
            <button class="btn btn-outline-light" type="submit">Ajouter</button>
            <button class="btn btn-outline-light" type="reset">Annuler</button>
        </div>

    </form>
    <a href="/etudiant"><button class="btn btn-outline-light">Retour</button></a>
{% endblock %}